<!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Home</title>

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <!-- Include CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../static/owl-carousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../static/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/fileinput.min.css">
</head>

<body>

<!-- Loader -->
<div id="loader" class="loader">
    <div class="loader-content">
        <img src="../static/images/loader.png" alt="Loading...">
    </div>
</div>

<!-- Principal image with search -->
<div class="full-header" style="background-image:url('static/images/index3.jpg');height: 820px;">
    <div class="overlay"></div>
    <div class="search">
        <form action="search" method="post" enctype="multipart/form-data">
            <button id="upload" type="button" class="principal-search-btn" style="background-color: #065c5c;" onclick="$('#upload-file').click();"><i
                    class="fa fa-upload" aria-hidden="true"></i></button>
            <input type="text" placeholder="Input..." class="principal-search">
            <button type="submit" class="principal-search-btn" style="background-color: #065c5c;" ><i class="fa fa-search" aria-hidden="true"></i></button>
            <input type="file" name="upload_img" id="upload-file" style="display: none;" onchange="fileType(this)"/>
        </form>
    </div>
{#    <div class="bottom-text">#}
{#        Search what search!#}
{#    </div>#}
</div>

<!-- Page container -->
<div class="inner-content-home">
    <div class="container">

        <div class="row margin-bottom-20" style="align-content: center">
            <!-- Top categories -->
            <div class="col-sm-6">
                <h4 class="title">Query Image</h4>
                <div class="line-dec"></div>
                <!-- Top categories slider -->
                <div id="carousel-example-generic" class="carousel" data-ride="carousel">
                    <!-- Top categories slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Top categories (item) -->
                        <div class="item active">
                            <img id="xxx" src="{{ best_res[0] }}">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Information row -->
        <div class="row">

            <!-- Discount alert -->
            <div class="col-sm-12">
                <div class="alert alert-warning" role="alert">Used Time:<b>{{ use_time }}s</b></div>
            </div>

            <!-- Register button -->
{#            <div class="col-sm-4">#}
{#                <button type="submit" class="btn btn-block btn-success register-btn">Refresh</button>#}
{#            </div>#}
        </div>

        <!-- Recent photos row -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="title">Query Results</h4>
                <div class="line-dec"></div>
                <div class="col-sm-6" style="padding: 2%" role="listbox">
                        <!-- Top categories (item) -->
                        <div>
                            <img id="xxx" style="width: 100%" src="{{ top4_res[0][0] }}">
                            <div class="carousel-caption">
                                cos:{{ top4_res[0][1] }}
                            </div>
                        </div>
                    </div>
                <div class="col-sm-6" style="padding: 2%" role="listbox">
                        <!-- Top categories (item) -->
                        <div>
                            <img id="xxx" style="width: 100%" src="{{ top4_res[1][0] }}">
                            <div class="carousel-caption">
                                cos:{{ top4_res[1][1] }}
                            </div>
                        </div>
                    </div>
                <div class="col-sm-6" style="padding: 2%" role="listbox">
                        <!-- Top categories (item) -->
                        <div>
                            <img id="xxx" style="width: 100%" src="{{ top4_res[2][0] }}">
                            <div class="carousel-caption">
                                cos:{{ top4_res[2][1] }}
                            </div>
                        </div>
                    </div>
                <div class="col-sm-6" style="padding: 2%" role="listbox">
                        <!-- Top categories (item) -->
                        <div>
                            <img id="xxx" style="width: 100%" src="{{ top4_res[3][0] }}">
                            <div class="carousel-caption">
                                cos:{{ top4_res[3][1] }}
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="container">
    <div id="footer">
        <div class="row" style="text-align: center">
            <p>Image Search.</p>
        </div>
    </div>
</div>

<!-- Include Scripts -->
<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/fileinput.min.js"></script>
<script type="text/javascript" src="../static/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script>
    function fileType(obj) {
        var fileType = obj.value.substr(obj.value.lastIndexOf(".")).toLowerCase();//获得文件后缀名
        if (fileType != '.gif' && fileType != '.png' && fileType != '.jpg' && fileType != '.jpeg') {
            alert('请上传图片格式的文件!')
        }
    }
</script>
</body>
</html>